# Terraform
*.tfstate
*.tfstate.*
.crash
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# LocalStack
.localstack/
.localstack_artifacts/

# AWS Lambda
# Ignore Python dependencies for AWS Lambda functions
*.zip
__pycache__/
*.pyc
*.pyo
*.pyd
*.whl

# AWS CLI
.aws/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile.lock
poetry.lock
mypy_cache/
.dmypy.json
.venv/
.pytest_cache/

# Java
*.class
*.jar
*.war
*.ear
*.iml
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
.DS_Store?
._*
.Spotlight-V100
.Trashes
